## **Importing the Libraries**

In [1]:
import seaborn as sns
import pandas as pd

## **Importing the Dataset**

In [2]:
df = sns.load_dataset("mpg")

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

#### **ðŸ”¹ Basic Exploration**

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [5]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [6]:
df.shape

(398, 9)

In [7]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=398, step=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [10]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [11]:
df.describe(include="all")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,usa,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,NaN,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,NaN,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,NaN,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,NaN,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,NaN,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,NaN,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,NaN,NaN

In [12]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
dtype: object

In [13]:
df.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
197,29.0,4,90.0,70.0,1937,14.2,76,europe,vw rabbit
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx
346,32.3,4,97.0,67.0,2065,17.8,81,japan,subaru
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage

In [14]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.nunique()

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model_year       13
origin            3
name            305
dtype: int64

In [17]:
df.memory_usage()

Index            132
mpg             3184
cylinders       3184
displacement    3184
horsepower      3184
weight          3184
acceleration    3184
model_year      3184
origin          3184
name            3184
dtype: int64

In [18]:
df.memory_usage(deep=True)

Index             132
mpg              3184
cylinders        3184
displacement     3184
horsepower       3184
weight           3184
acceleration     3184
model_year       3184
origin          21064
name            25908
dtype: int64

#### **ðŸ”¹ Column Selection**

In [19]:
df["mpg"]

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [20]:
df[["mpg", "horsepower"]]

      mpg  horsepower
0    18.0       130.0
1    15.0       165.0
2    18.0       150.0
3    16.0       150.0
4    17.0       140.0
..    ...         ...
393  27.0        86.0
394  44.0        52.0
395  32.0        84.0
396  28.0        79.0
397  31.0        82.0

[398 rows x 2 columns]

In [21]:
df.loc[:, "mpg"]

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [22]:
df.iloc[:, 0]

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [23]:
df.select_dtypes(include="number")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [24]:
df.select_dtypes(include="object")

     origin                       name
0       usa  chevrolet chevelle malibu
1       usa          buick skylark 320
2       usa         plymouth satellite
3       usa              amc rebel sst
4       usa                ford torino
..      ...                        ...
393     usa            ford mustang gl
394  europe                  vw pickup
395     usa              dodge rampage
396     usa                ford ranger
397     usa                 chevy s-10

[398 rows x 2 columns]

In [25]:
df.filter(like="acc")

     acceleration
0            12.0
1            11.5
2            11.0
3            12.0
4            10.5
..            ...
393          15.6
394          24.6
395          11.6
396          18.6
397          19.4

[398 rows x 1 columns]

In [26]:
df.filter(regex="^c")

     cylinders
0            8
1            8
2            8
3            8
4            8
..         ...
393          4
394          4
395          4
396          4
397          4

[398 rows x 1 columns]

In [27]:
 df.loc[0]

mpg                                  18.0
cylinders                               8
displacement                        307.0
horsepower                          130.0
weight                               3504
acceleration                         12.0
model_year                             70
origin                                usa
name            chevrolet chevelle malibu
Name: 0, dtype: object

In [28]:
df.iloc[0]

mpg                                  18.0
cylinders                               8
displacement                        307.0
horsepower                          130.0
weight                               3504
acceleration                         12.0
model_year                             70
origin                                usa
name            chevrolet chevelle malibu
Name: 0, dtype: object

#### **ðŸ”¹ Filtering**

In [29]:
df[df["mpg"] > 30]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
53,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
54,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
129,31.0,4,79.0,67.0,1950,19.0,74,japan,datsun b210
131,32.0,4,71.0,65.0,1836,21.0,74,japan,toyota corolla 1200
144,31.0,4,76.0,52.0,1649,16.5,74,japan,toyota corona
...,...,...,...,...,...,...,...,...,...
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [30]:
df[df["horsepower"] < 100]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [31]:
df[df["origin"] == "usa"]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [32]:
df[(df["mpg"] > 25) & (df["cylinders"] == 4)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
29,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
30,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [33]:
df[(df["weight"] > 3000) | (df["horsepower"] > 150)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
364,26.6,8,350.0,105.0,3725,19.0,81,usa,oldsmobile cutlass ls
365,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)

In [34]:
df[df["model_year"] >= 80]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
310,38.1,4,89.0,60.0,1968,18.8,80,japan,toyota corolla tercel
311,32.1,4,98.0,70.0,2120,15.5,80,usa,chevrolet chevette
312,37.2,4,86.0,65.0,2019,16.4,80,japan,datsun 310
313,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [35]:
df[df["name"].str.contains("ford")]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
36,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
40,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
48,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
61,21.0,4,122.0,86.0,2226,16.5,72,usa,ford pinto runabout
65,14.0,8,351.0,153.0,4129,13.0,72,usa,ford galaxie 500
74,13.0,8,302.0,140.0,4294,16.0,72,usa,ford gran torino (sw)
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
88,14.0,8,302.0,137.0,4042,14.5,73,usa,ford gran torino
92,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
100,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
112,19.0,4,122.0,85.0,2310,18.5,73,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
130,26.0,4,122.0,80.0,2451,16.5,74,usa,ford pinto
136,16.0,8,302.0,140.0,4141,14.0,74,usa,ford gran torino
139,14.0,8,302.0,140.0,4638,16.0,74,usa,ford gran torino (sw)
155,15.0,6,250.0,72.0,3158,19.5,75,usa,ford maverick
159,14.0,8,351.0,148.0,4657,13.5,75,usa,ford ltd
166,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
168,23.0,4,140.0,83.0,2639,17.0,75,usa,ford pinto
174,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto
190,14.5,8,351.0,152.0,4215,12.8,76,usa,ford gran torino
193,24.0,6,200.0,81.0,3012,17.6,76,usa,ford maverick
200,18.0,6,250.0,78.0,3574,21.0,76,usa,ford granada ghia
206,26.5,4,140.0,72.0,2565,13.6,76,usa,ford pinto
214,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
228,18.5,6,250.0,98.0,3525,19.0,77,usa,ford granada
232,16.0,8,351.0,149.0,4335,14.5,77,usa,ford thunderbird
236,25.5,4,140.0,89.0,2755,15.8,77,usa,ford mustang ii 2+2
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
254,20.2,6,200.0,85.0,2965,15.8,78,usa,ford fairmont (auto)
255,25.1,4,140.0,88.0,2720,15.4,78,usa,ford fairmont (man)
264,18.1,8,302.0,139.0,3205,11.2,78,usa,ford futura
282,22.3,4,140.0,88.0,2890,17.3,79,usa,ford fairmont 4
286,17.6,8,302.0,129.0,3725,13.4,79,usa,ford ltd landau
290,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
314,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
351,34.4,4,98.0,65.0,2045,16.2,81,usa,ford escort 4w
352,29.9,4,98.0,65.0,2380,20.7,81,usa,ford escort 2h
365,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
373,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger

In [36]:
df[df["acceleration"].between(10,15)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage

In [37]:
df[df["origin"].isin(["japan","europe"])]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
...,...,...,...,...,...,...,...,...,...
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup

In [38]:
df[~df["origin"].isin(["usa"])]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
...,...,...,...,...,...,...,...,...,...
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup

In [39]:
df[df["mpg"].notnull()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [40]:
df[df["horsepower"].isnull()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [41]:
df.query("mpg > 20")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [42]:
df.query("cylinders == 6 and origin == 'usa'")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
24,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
33,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
...,...,...,...,...,...,...,...,...,...
365,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
366,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l

In [43]:
df.query("weight > 2500")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

#### **ðŸ”¹ Sorting**

In [44]:
df.sort_values("mpg")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
...,...,...,...,...,...,...,...,...,...
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc

In [45]:
df.sort_values("mpg", ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
...,...,...,...,...,...,...,...,...,...
27,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d

In [46]:
df.sort_values(["origin","mpg"])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
277,16.2,6,163.0,133.0,3410,15.8,78,europe,peugeot 604sl
211,16.5,6,168.0,120.0,3820,16.7,76,europe,mercedes-benz 280s
275,17.0,6,163.0,125.0,3140,13.6,78,europe,volvo 264gl
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
...,...,...,...,...,...,...,...,...,...
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
245,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
344,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ

In [47]:
df.sort_values(["origin","mpg"], ascending=[True,False])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel
309,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
...,...,...,...,...,...,...,...,...,...
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d

In [48]:
df.sort_index()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

#### **ðŸ”¹ Aggregations**

In [49]:
df["mpg"].mean()

np.float64(23.514572864321607)

In [50]:
df["mpg"].median()

np.float64(23.0)

In [51]:
df["mpg"].mode()

0    13.0
Name: mpg, dtype: float64

In [52]:
df["mpg"].min()

np.float64(9.0)

In [53]:
df["mpg"].max()

np.float64(46.6)

In [54]:
df["mpg"].sum()

np.float64(9358.8)

In [55]:
df["mpg"].std()

np.float64(7.815984312565782)

In [56]:
df["mpg"].var()

np.float64(61.089610774274405)

In [57]:
df["mpg"].count()

np.int64(398)

In [58]:
df["cylinders"].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [59]:
df["origin"].value_counts(normalize=True)

origin
usa       0.625628
japan     0.198492
europe    0.175879
Name: proportion, dtype: float64

In [60]:
df.groupby("origin")["mpg"].mean()

origin
europe    27.891429
japan     30.450633
usa       20.083534
Name: mpg, dtype: float64

In [61]:
 df.groupby("cylinders")["horsepower"].mean()

cylinders
3     99.250000
4     78.281407
5     82.333333
6    101.506024
8    158.300971
Name: horsepower, dtype: float64

In [62]:
df.groupby(["origin","cylinders"])["mpg"].mean()

origin  cylinders
europe  4            28.411111
        5            27.366667
        6            20.100000
japan   3            20.550000
        4            31.595652
        6            23.883333
usa     4            27.840278
        6            19.663514
        8            14.963107
Name: mpg, dtype: float64

In [63]:
df.agg({"mpg":["mean","max"],"horsepower":["min","max"]})

            mpg  horsepower
mean  23.514573         NaN
max   46.600000       230.0
min         NaN        46.0

#### **ðŸ”¹ GroupBy Advanced**

In [64]:
df.groupby("origin").size()

origin
europe     70
japan      79
usa       249
dtype: int64

In [65]:
df.groupby("origin")["weight"].sum()

origin
europe    169631
japan     175477
usa       837121
Name: weight, dtype: int64

In [66]:
df.groupby("origin")["weight"].agg(["mean","max"])

               mean   max
origin
europe  2423.300000  3820
japan   2221.227848  2930
usa     3361.931727  5140

In [67]:
df.groupby("cylinders").describe()

             mpg                                                        \
           count       mean       std   min    25%    50%    75%   max
cylinders
3            4.0  20.550000  2.564501  18.0  18.75  20.25  22.05  23.7
4          204.0  29.286765  5.710156  18.0  25.00  28.25  33.00  46.6
5            3.0  27.366667  8.228204  20.3  22.85  25.40  30.90  36.4
6           84.0  19.985714  3.807322  15.0  18.00  19.00  21.00  38.0
8          103.0  14.963107  2.836284   9.0  13.00  14.00  16.00  26.6

          displacement              ... acceleration       model_year  \
                 count        mean  ...          75%   max      count
cylinders                           ...
3                  4.0   72.500000  ...         13.5  13.5        4.0
4                204.0  109.796569  ...         18.0  24.8      204.0
5                  3.0  145.000000  ...         20.0  20.1        3.0
6                 84.0  218.142857  ...         17.6  21.0       84.0
8                103.0  345.009709  ...         14.0  22.2      103.0


                mean       std   min    25%   50%    75%   max
cylinders
3          75.500000  3.696846  72.0  72.75  75.0  77.75  80.0
4          77.073529  3.753420  70.0  74.00  78.0  80.00  82.0
5          79.000000  1.000000  78.0  78.50  79.0  79.50  80.0
6          75.928571  3.251638  70.0  74.00  76.0  78.00  82.0
8          73.902913  3.021214  70.0  72.00  73.0  76.00  81.0

[5 rows x 48 columns]

In [68]:
df.groupby("model_year")["mpg"].mean()

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [69]:
df.groupby("origin")["mpg"].transform("mean")

0      20.083534
1      20.083534
2      20.083534
3      20.083534
4      20.083534
         ...
393    20.083534
394    27.891429
395    20.083534
396    20.083534
397    20.083534
Name: mpg, Length: 398, dtype: float64

In [70]:
df.groupby("origin").filter(lambda x: x["mpg"].mean() > 25)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
...,...,...,...,...,...,...,...,...,...
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup

In [71]:
df.groupby("origin").nth(0)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
19,26.0,4,97.0,46.0,1835,20.5,70,europe,volkswagen 1131 deluxe sedan

In [72]:
df.groupby("origin").first()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name
origin,,,,,,,,
europe,26.0,4,97.0,46.0,1835,20.5,70,volkswagen 1131 deluxe sedan
japan,24.0,4,113.0,95.0,2372,15.0,70,toyota corona mark ii
usa,18.0,8,307.0,130.0,3504,12.0,70,chevrolet chevelle malibu

In [73]:
df.groupby("origin").last()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name
origin,,,,,,,,
europe,44.0,4,97.0,52.0,2130,24.6,82,vw pickup
japan,32.0,4,144.0,96.0,2665,13.9,82,toyota celica gt
usa,31.0,4,119.0,82.0,2720,19.4,82,chevy s-10

#### **ðŸ”¹ Handling Missing Data**

In [74]:
df.dropna()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [75]:
df.dropna(subset=["horsepower"])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [76]:
df.fillna(0)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [77]:
df["horsepower"].fillna(df["horsepower"].mean())

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [78]:
df["horsepower"].interpolate()

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

#### **ðŸ”¹ Column Operations**

In [79]:
df["power_to_weight"] = df["horsepower"] / df["weight"]

In [80]:
df["mpg_kmpl"] = df["mpg"] * 0.425144

In [81]:
 df.rename(columns={"mpg":"miles_per_gallon"})

,miles_per_gallon,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,power_to_weight,mpg_kmpl
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.037100,7.652592
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.044679,6.377160
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.043655,7.652592
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.043694,6.802304
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.040591,7.227448
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,0.030824,11.478888
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,0.024413,18.706336
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,0.036601,13.604608
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,0.030095,11.904032
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,0.030147,13.179464

In [82]:
df.drop(columns=["name"])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,power_to_weight,mpg_kmpl
0,18.0,8,307.0,130.0,3504,12.0,70,usa,0.037100,7.652592
1,15.0,8,350.0,165.0,3693,11.5,70,usa,0.044679,6.377160
2,18.0,8,318.0,150.0,3436,11.0,70,usa,0.043655,7.652592
3,16.0,8,304.0,150.0,3433,12.0,70,usa,0.043694,6.802304
4,17.0,8,302.0,140.0,3449,10.5,70,usa,0.040591,7.227448
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,0.030824,11.478888
394,44.0,4,97.0,52.0,2130,24.6,82,europe,0.024413,18.706336
395,32.0,4,135.0,84.0,2295,11.6,82,usa,0.036601,13.604608
396,28.0,4,120.0,79.0,2625,18.6,82,usa,0.030095,11.904032
397,31.0,4,119.0,82.0,2720,19.4,82,usa,0.030147,13.179464

In [83]:
df.assign(double_weight=df["weight"]*2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,power_to_weight,mpg_kmpl,double_weight
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.037100,7.652592,7008
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.044679,6.377160,7386
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.043655,7.652592,6872
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.043694,6.802304,6866
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.040591,7.227448,6898
...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,0.030824,11.478888,5580
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,0.024413,18.706336,4260
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,0.036601,13.604608,4590
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,0.030095,11.904032,5250
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,0.030147,13.179464,5440

In [84]:
df["origin_code"] = df["origin"].map({"usa":1,"europe":2,"japan":3})

In [85]:
df["car_age"] = 1982 - df["model_year"]

In [86]:
df["high_mpg"] = df["mpg"] > df["mpg"].mean()

In [87]:
df["mpg"].apply(lambda x: x*2)

0      36.0
1      30.0
2      36.0
3      32.0
4      34.0
       ...
393    54.0
394    88.0
395    64.0
396    56.0
397    62.0
Name: mpg, Length: 398, dtype: float64

In [88]:
df["cylinders"].astype("category")

0      8
1      8
2      8
3      8
4      8
      ..
393    4
394    4
395    4
396    4
397    4
Name: cylinders, Length: 398, dtype: category
Categories (5, int64): [3, 4, 5, 6, 8]

#### **ðŸ”¹ Indexing & Resetting**

In [89]:
df.set_index("name")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,power_to_weight,mpg_kmpl,origin_code,car_age,high_mpg
name,,,,,,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa,0.037100,7.652592,1,1912,False
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa,0.044679,6.377160,1,1912,False
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa,0.043655,7.652592,1,1912,False
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa,0.043694,6.802304,1,1912,False
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa,0.040591,7.227448,1,1912,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa,0.030824,11.478888,1,1900,True
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe,0.024413,18.706336,2,1900,True
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa,0.036601,13.604608,1,1900,True
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa,0.030095,11.904032,1,1900,True
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa,0.030147,13.179464,1,1900,True

In [90]:
df.reset_index()

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,power_to_weight,mpg_kmpl,origin_code,car_age,high_mpg
0,0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.037100,7.652592,1,1912,False
1,1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.044679,6.377160,1,1912,False
2,2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.043655,7.652592,1,1912,False
3,3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.043694,6.802304,1,1912,False
4,4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.040591,7.227448,1,1912,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,0.030824,11.478888,1,1900,True
394,394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,0.024413,18.706336,2,1900,True
395,395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,0.036601,13.604608,1,1900,True
396,396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,0.030095,11.904032,1,1900,True
397,397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,0.030147,13.179464,1,1900,True

In [91]:
df.set_index(["origin","name"])

                                   mpg  cylinders  displacement  horsepower  \
origin name
usa    chevrolet chevelle malibu  18.0          8         307.0       130.0
       buick skylark 320          15.0          8         350.0       165.0
       plymouth satellite         18.0          8         318.0       150.0
       amc rebel sst              16.0          8         304.0       150.0
       ford torino                17.0          8         302.0       140.0
...                                ...        ...           ...         ...
       ford mustang gl            27.0          4         140.0        86.0
europe vw pickup                  44.0          4          97.0        52.0
usa    dodge rampage              32.0          4         135.0        84.0
       ford ranger                28.0          4         120.0        79.0
       chevy s-10                 31.0          4         119.0        82.0

                                  weight  acceleration  model_year  \
origin name
usa    chevrolet chevelle malibu    3504          12.0          70
       buick skylark 320            3693          11.5          70
       plymouth satellite           3436          11.0          70
       amc rebel sst                3433          12.0          70
       ford torino                  3449          10.5          70
...                                  ...           ...         ...
       ford mustang gl              2790          15.6          82
europe vw pickup                    2130          24.6          82
usa    dodge rampage                2295          11.6          82
       ford ranger                  2625          18.6          82
       chevy s-10                   2720          19.4          82

                                  power_to_weight   mpg_kmpl  origin_code  \
origin name
usa    chevrolet chevelle malibu         0.037100   7.652592            1
       buick skylark 320                 0.044679   6.377160            1
       plymouth satellite                0.043655   7.652592            1
       amc rebel sst                     0.043694   6.802304            1
       ford torino                       0.040591   7.227448            1
...                                           ...        ...          ...
       ford mustang gl                   0.030824  11.478888            1
europe vw pickup                         0.024413  18.706336            2
usa    dodge rampage                     0.036601  13.604608            1
       ford ranger                       0.030095  11.904032            1
       chevy s-10                        0.030147  13.179464            1

                                  car_age  high_mpg
origin name
usa    chevrolet chevelle malibu     1912     False
       buick skylark 320             1912     False
       plymouth satellite            1912     False
       amc rebel sst                 1912     False
       ford torino                   1912     False
...                                   ...       ...
       ford mustang gl               1900      True
europe vw pickup                     1900      True
usa    dodge rampage                 1900      True
       ford ranger                   1900      True
       chevy s-10                    1900      True

[398 rows x 12 columns]

In [92]:
df.sort_index()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,power_to_weight,mpg_kmpl,origin_code,car_age,high_mpg
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.037100,7.652592,1,1912,False
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.044679,6.377160,1,1912,False
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.043655,7.652592,1,1912,False
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.043694,6.802304,1,1912,False
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.040591,7.227448,1,1912,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,0.030824,11.478888,1,1900,True
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,0.024413,18.706336,2,1900,True
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,0.036601,13.604608,1,1900,True
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,0.030095,11.904032,1,1900,True
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,0.030147,13.179464,1,1900,True

In [93]:
df.loc[df.index[:5]]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,power_to_weight,mpg_kmpl,origin_code,car_age,high_mpg
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.037100,7.652592,1,1912,False
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.044679,6.377160,1,1912,False
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.043655,7.652592,1,1912,False
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.043694,6.802304,1,1912,False
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.040591,7.227448,1,1912,False